<table class="transmission-remote-table">
    <thead>
    <tr>
        <th>addedDate</th>
        <th>name</th>
        <th>percentDone</th>
        <th>status</th>
    </tr>
    </thead>
    <tbody>
    {{#each torrents}}
        <tr data-torrent-id="{{id}}">
            <td>{{dateToStr addedDate}}</td>
            <td class="transmission-remote-text-truncate">{{name}}</td>
            <td>{{percentDone}}</td>
            <td>{{status}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
